* {
  font-family: "Montserrat", sans-serif;
}
body{
  background-image: url(/EjerciciosReceso/src/img/fondo\ pag\ web.png);
}
#is,
#rg{
  display: none;
}


.div__padre,
.div--hijo,
.div--nieto{
  background-color: aqua;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  position: relative;
  float: right;
  display: grid;
  place-items: center;
}
