* {
  box-sizing: border-box;
  padding: 5px;
}

body {
  background-color: brown;
  width: 95%;
  max-width: 1440px;
  border-radius: 9px;
  display: grid;
  place-content: center;
  grid-template-columns: 150px 150px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header,
main,
footer {
  margin: 5px;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  color: blue;
}

header {
  grid-area: header;
}
.main {
  grid-area: main;
  padding: 5px;
  margin: 5px;
}
.main__section {
  background-color: rgb(149, 107, 51);
  margin: 5px;
}
.section__article {
  background-color: rgb(176, 110, 23);
  margin: 5px;
}
.form {
  display: grid;
  place-content: center;
  gap: 15px;
}

.opb--srmd {
  display: grid;
  grid-template-columns: 60px 60px;
  grid-template-rows: auto;
  gap: 5px;
  margin: 5px;
}

.suma {
  grid-row: 1;
  grid-column: 1/4;
}
.resta {
  grid-row: 2;
  grid-column: 1/4;
}
.mod,
.mult {
  grid-column: 1/4;
}
.divi {
  grid-column: 1/4;
}
.opb--hacer {
  position: relative;
  display: grid;
  place-content: center;
  gap: 15px;
}
.article--cajaR {
  color: black;
  background-color: aqua;
  margin: 5px;
  padding: 5px;
}
footer {
  grid-area: footer;
  margin: 5px 5px;
  padding: 5px;
}

@media screen and (min-width: 586px) and (max-width: 960px) {
  body {
    background-color: rgb(159, 165, 42);
    width: 98%;
    display: grid;
    place-content: center;
    grid-template-columns: 200px 200px 200px;
  }
  header,
  main,
  footer {
    color: rgb(0, 255, 234);
  }
  .main__section {
    background-color: rgb(161, 146, 126);
    margin: 5px;
  }
  .section__article {
    background-color: rgb(236, 168, 129);
    margin: 5px;
  }
  .form {
    display: grid;
    grid-template-columns: 260px 260px;
    grid-template-rows: auto;
    color: brown;
  }
  #listo {
    transform: translate(50%);
  }

  .opb--srmd {
    display: grid;
    grid-template-columns: repeat(2, 23fr);
    grid-template-rows: auto;
    gap: 5px;
    margin: 5px;
    border: 2px solid black;
  }

.suma,
.resta
{
    grid-row: 1;
}
.resta{
    grid-column: 3/4;
}
.mult,
.divi{
    grid-row: 2;
}
.divi{
    grid-column: 3/4;
}
.mod{
    grid-column: 1/5;
    grid-row: 3;
}
  
}
