* {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-image: url(/docs/img/fondo\ pag\ web.png);
  }
  #is,
  #rg {
    display: none;
  }
  
  .div__padre,
  .div--hijo,
  .div--nieto {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    display: grid;
    place-items: center;
    float: right;
    translate: (-100%);
    
  }
  
  .div__padre{
    background-color: aqua;
  }
  .div--hijo{
    background-color: rgb(225, 0, 255);
  }
  .div--nieto{
    background-color: rgb(255, 0, 98);
  }
  
  @keyframes anit {
    0%{
      transform: matrix(1, 0.2, 0.2, 0, -50, -50);
    }
    20%{
      transform: matrix(0.3, 0.4, 0.2, 0, -50, -50);
    }
    40%{
      transform: matrix(0.9, 0.6, 0.2, 0, -50, -50);
    }
    60%{
      transform: matrix(0.1, 0.8, 0.2, 0, -50, -50);
    }
    80%{
      transform: matrix(1.5, 1, 0.2, 0, -50, -50);
    }
  }