* {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-image: url(../img/fondo.png);
  }
  #is,
  #rg {
    display: none;
  }
  
  .div__padre {
    float: right;
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 50%;   
  }
  .div--hijo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(225, 0, 255);
  }
  .div--nieto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(128, 71, 93);
  }