* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-image: url(../img/fondo.png);
}
#is,
#rg {
  display: none;
}

.div__padre,
.div--hijo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #50ed50;
  animation: general 2.2s ease-out 0.6s infinite alternate both;
}
.div--hijo{
  animation: hijo 2.2s ease-out 0.6s infinite alternate both;
}
@keyframes general {
  0% {
    opacity: 0;
    transform:translateX(0)
  }
  100% {
    opacity: 1;
    transform:translateX(-100px);

  }
}
@keyframes hijo {
  0% {
    opacity: 0;
    transform:translateX(80px)
  }
  100% {
    opacity: 1;
    transform:translateX(0);

  }
}

